.header {
  width: auto;
  height: auto;
  position: relative;
  top: 0;

  .header_container {
    width: auto;
    height: auto;
    padding: 0px 132px;

    .header_content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;

      .header_upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
        border-bottom: 1px solid #858685;

        .header_social {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          padding-left: 36px;

          .instagram_link {
            border: none;
            border-radius: 50%;
            padding: 4px 6px;
            background-color: #858685;
            text-align: center;
            margin-right: 24px;

            i {
              font-size: 12px;
              color: #ffffff;
              line-height: 12px;
            }
          }

          .facebook_link {
            border: none;
            border-radius: 50%;
            padding: 4px 8px;
            background-color: #858685;
            text-align: center;

            i {
              font-size: 12px;
              color: #ffffff;
              line-height: 12px;
            }
          }
        }

        .header_logo {
          height: auto;
          width: auto;

          .header_logo_img {
            width: 57px;
            height: auto;
          }
        }

        .header_other {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          margin-right: 13px;

          .mobile_link {
            text-align: center;
            margin-right: 27px;

            i {
              font-size: 12px;
              color: #858685;
              line-height: 12px;
            }
          }

          .header_select_lang {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #1d1f1d;
            border: none;

            .header_select_item {
              border: none;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #1d1f1d;
            }
          }
        }
      }

      .header_down {
        width: auto;
        height: auto;
        border-bottom: 1px solid #858685;

        .header_menu {
          width: auto;
          height: auto;
          padding: 20px 0px;

          .header_nav {
            width: 100%;
            height: auto;
            text-align: center;
            .header_link-list {
              list-style: none;

              .header_link-item {
                display: inline;
                margin: 30px;

                .header_link {
                  color: #1D1F1D;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  text-decoration: none;

                  &:hover{
                    color: #314c51;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
