<section class="area_content">
  <div class="parallax_fog_content">
    <div class="parallax_fog"></div>
  </div>
  <div class="upper_info_section">
    <div class="upper_info_section_layer"></div>
    <div class="upper_info_content">
      <div class="upper_content_item">
        <div class="upper_content_item-icon">
          <i class="fas fa-tree"></i>
          <i id="small_tree" class="fas fa-tree"></i>
        </div>
        <div class="upper_content_item-title">
          <p class="upper_content_item-title_text">Лес</p>
        </div>
        <div class="upper_content_item-subtitle">
          <p class="upper_content_item-subtitle_text">Жизнь в окружении леса</p>
        </div>
      </div>
      <div class="upper_content_item">
        <div class="upper_content_item-icon"><i class="fas fa-water"></i></div>
        <div class="upper_content_item-title">
          <p class="upper_content_item-title_text">Море</p>
        </div>
        <div class="upper_content_item-subtitle">
          <p class="upper_content_item-subtitle_text">
            В 311 метрах от дома ваше море
          </p>
        </div>
      </div>
      <div class="upper_content_item">
        <div class="upper_content_item-icon"><i class="fas fa-wind"></i></div>
        <div class="upper_content_item-title">
          <p class="upper_content_item-title_text">Воздух</p>
        </div>
        <div class="upper_content_item-subtitle">
          <p class="upper_content_item-subtitle_text">
            Вдыхайте морской и хвойный воздух
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="middle_section">
    <div class="middle_section_content">
      <div class="middle_section_sea_infos">
        <div class="distance_content">
          <p class="distance_content_text">311 м</p>
        </div>
        <div class="arrow_content">
          <i class="fas fa-arrows-alt-v"></i>
        </div>
        <div class="place_content">
          <p class="place_content_text">Море</p>
        </div>
      </div>
    </div>
  </div>
  <div class="down_section">
    <div class="down_section_content">
      <div class="area_content_house">
        <svg
          width="1800"
          height="1389"
          viewBox="0 0 1600 1389"
          fill="none"
          id="main_frame"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1319 165.348L1024.69 1313L277 591.79L417.69 104L1319 165.348Z"
            stroke="white"
            stroke-opacity="0.6"
            stroke-width="6"
            class="main_area"
          />
          <path class="area_chose" d="M1210.5 541.5L1081 548L1096.68 324.831H1217.33L1277 280L1210.5 541.5Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M801.249 870C759.59 892.294 674.619 937.961 668 942.281L856.987 1118L894 1017.89L801.249 870Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M1297 180.5L1062 158L1096.29 292H1222.36L1290.57 234.5L1297 180.5Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M921.289 963C904.56 1010.29 869.682 1108.52 864 1123.04L1018.35 1274L1087 1005.52L921.289 963Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M1023.5 162.5C921.17 153.379 680.393 135 677.5 135L706.714 325L1054.5 304L1023.5 162.5Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M708.797 431L668 491.731L817.59 797L931.42 728.207L1011 559.987L708.797 431Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M689 431.069C612.339 530.584 458.431 730.089 456.088 732L293 577.713L361.848 347L689 431.069Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M663.048 131.324L696 417L366 331.537L428.026 115L663.048 131.324Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M596.153 865.124C562.247 828.811 491.16 752.3 486 745.397L662.641 493L811 806.339L671.573 884L596.153 865.124Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M949.951 960.738C998.186 973.208 1093.02 998.32 1096.81 999L1136 849.776L982.682 769L872 832.771L949.951 960.738Z" stroke="#919191" stroke-width="2"/>
          <path class="area_chose" d="M1004 732.839L1141 815.5L1201 581H1071.66L1004 732.839Z" stroke="#919191" stroke-width="2"/>
        </svg>
      </div>
    </div>
  </div>
</section>
