<section class="house_place">
    <div class="house_place_container">
        <div class="house_place_content">
            <div class="house_place_title">
                Место для вашего дома:
            </div>
            <div class="house_place_description">
                <div class="house_place_image">
                    <img src="assets/house_place.png" alt="house_place_image" class="house_place_image_item">
                </div>
                <div class="house_place_reasons">
                    <ul class="house_place_list">
                        <li class="house_place_list-item">
                            Возможно здесь вы построите свой дом
                        </li>
                        <li class="house_place_list-item">
                            В окружении заповедного леса 
                        </li>
                        <li class="house_place_list-item">
                            В тихом и спокойном месте 
                        </li>
                        <li class="house_place_list-item">
                            В 22 минутах от Таллинна 
                        </li>
                        <li class="house_place_list-item">
                            В 311 метрах от моря
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>