<section class="lazy">
  <div class="lazy_container">
    <div class="lazy_content">
      <div class="lazy_numbers">
        <div class="lazy_video_content">
            <video class="lazy_video_forest" id="nubexVideo" loop="loop" autoplay="autoplay" preload="auto">
                <source src="./video/forest_video.mp4"></source>
            </video>
        </div>
      </div>
      <div class="lazy_description">
        <div class="lazy_title">
          <p class="lazy_title_text">Жилой район в Виймси</p>
        </div>
        <div class="lazy_subtitle">
          <p class="lazy_subtitle_text">
            Одиннадцать приватных участков с собственным лесом
          </p>
        </div>
        <div class="lazy_btn">
          <a href="#" class="lazy_area_btn"> Участки </a>
        </div>
      </div>
    </div>
  </div>
</section>
