<header class="header">
  <div class="header_container">
    <div class="header_content">
      <div class="header_upper">
        <div class="header_social">
          <a href="#" class="instagram_link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="facebook_link"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </div>
        <div class="header_logo">
          <a href="#" class="logo_link"
            ><img src="assets/logo.png" alt="logo" class="header_logo_img"
          /></a>
        </div>
        <div class="header_other">
          <a href="#" class="mobile_link"><i class="fas fa-phone-alt"></i></a>
          <select class="header_select_lang">
            <option class="header_select_item" selected>Ru</option>
            <option class="header_select_item">En</option>
            <option class="header_select_item">Kz</option>
            <option class="header_select_item">Ya</option>
          </select>
        </div>
      </div>
      <div class="header_down">
        <div class="header_menu">
          <nav class="header_nav">
            <ul class="header_link-list">
              <li class="header_link-item">
                <a class="header_link" href="#">Участки</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">Место</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">История</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">Этапы</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">Команда</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">Документы</a>
              </li>
              <li class="header_link-item">
                <a class="header_link" href="#">Прогулка</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
