<div class="popup" id="popup_pashal">
  <div class="popup__body">
    <div class="popup__content">
      <div class="popup__section_first">
        <div class="poput_text">
          <p>
            В бескрайних просторах Вселенских полей Энергией света клубится,
            Волшебной историей сказочных дней Летит на Земле воплотиться.
          </p>
          <p>
            Но так безграничен Вселенной чертог, А панцирь же узок и тесен.
            Сулит испытать ощущений восторг, Тем самым он так интересен.
          </p>
          <p>
            В безмолвной тиши тёплых летних ночей Космической гостьей хвостатой
            Спускается в лапы пушистых ветвей И вмиг исчезает куда-то.
          </p>
          <p>
            В то время по тропкам лесным ,не спеша, Задумчивый путник гуляет, И
            сказка, невидимой пылью кружа, На плечи ему оседает.
          </p>
          <p>
            Под звучный оркестр полночных цикад, Прогулкой лесной утомленный,
            Герой наш на сонной опушки наряд Ложится дремотой пленённый.
          </p>
          <p>
            Во сне будто слышит призыв голосов Построить 11 лучших домов В том
            самом лесу, Что открыл он на днях, Дорогу к нему охраняет маяк.
          </p>
        </div>
        <div class="image_popup">
          <img src="assets/popup_img.png" alt="secret_popup_img" />
        </div>
      </div>
      <div class="popup__section_second">
        <div class="sub_text">
          «Жизнь каждого человека – волшебная сказка, написанная рукой Бога.»
          Ганс Христиан Андерсен
        </div>
        <div class="other_text">
          <p>Предыстория:</p>
          <p>
            «В безграничных просторах далёких миров жила сказка. Там не было
            времени и пространства. Она была всего лишь волной вероятности. Но,
            как и другим обитателям потенциального мира, сказке очень хотелось
            попасть в материальный мир. Ведь именно там она сможет раскрыться во
            всей красе. Сказка знала, что ни одна частица не может появиться в
            реальности, пока разум человека не обратит на нее своего внимания.
            Множество раз она пыталась попасть в сознания разных людей, но ей
            удавалось передать лишь обрывки своей волшебной истории. Однажды,
            сказка получила сигнал, что разум одного человека открылся для
            восприятия. Ей оставалось лишь ответить на его запрос. Открылся
            портал, через который сказка могла не отрывками, как раньше, а целым
            потоком войти в сознание человека. Так началось путешествие сказки
            из потенциального мира в мир реальный…»
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
