<section class="slider">
  <div class="slider_container">
    <div class="slider_content">
      <div class="slider_title">Инфраструктура:</div>
      <div id="slider_items_title" class="slider_items_title">
        
      </div>
      <div class="slider_main_slider">
        <div class="image_content">
          <div id="image_block" class="image_block"></div>
        </div>
        <div class="text_content">
          <div id="text_content_title" class="text_content_title">
            
          </div>
          <div id="text_content_description" class="text_content_description">

        </div>
          <div class="btn_slider">
            <i id="prev_btn" class="fas fa-chevron-circle-left"></i>
            <i id="next_btn" class="fas fa-chevron-circle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
